body{
    background-color: rgb(163, 162, 162);
    display:flex;
    flex-direction: column;
}

.title{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.buttons{
    display:flex;
    justify-content: space-around;
}


button{
    height: 100px;
    width: 100px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    background-color: lightgrey;
}

.game {
    display:flex;
    justify-content: space-around;
}